<div class=metas>
    <ul>
        {% if  page.coordinateur %}
            <li>Coordinateur : <a href="/coordinateurs/{{ page.coordinateur }}">{{ page.coordinateur }}</a></li> 
        {% endif %}
        {% if  page.producteur %}
        <li>Producteur : <a href="/producteurs/{{ page.producteur }}">{{ page.producteur }}</a></li>
        {% endif %}
        {% if  page.produits %}
        <li>Produits : 
            <ul>
                {% for produit in page.produits %}
            <li><a href="/produits/{{ produit }}">{{ produit }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if  page.prix %}
        <li>Prix : {{ page.prix }}</li>
        {% endif %}
        {% if page.adresse %}
            <li>Adresse : 
            {% if page.osm %}
                <a href="https://www.openstreetmap.org/node/{{ page.osm }}">
            {% else %}
                <a href="https://www.openstreetmap.org/search?query={{ page.adresse }}, Montréal">
            {% endif %}
                {{ page.adresse }}</a>
                </li>
        {% endif %}
        {% if  page.transport %}
            <li>Transport : {{ page.transport }}</li> 
        {% endif %}
        {% if  page.site %}
            <li>Site : <a href="{{ page.site }}">{{ page.site }}</a></li> 
        {% endif %}
    </ul>
</div>
