<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <main class="container">
            <ul class="location">
                {%- for contenu in site.collections -%} {%- unless contenu.label == 'posts' %}
                <li>
                    <a href="/{{ contenu.label }}">{{ contenu.label | capitalize }}</a>
                </li>
                {%- endunless %} {%- endfor %}
            </ul>
            {{ content }}
        </main>
    </body>
</html>
